<template>
    <div>
        <h2>articles</h2>

        <form class="mb-3" @submit.prevent="addArticle()">
            <div class="form-group">
                <input type="text" class="form-control" v-model="article.title" placeholder="Title">
            </div>
            <div class="form-group">
                <textarea class="form-control" v-model="article.body" placeholder="Body"></textarea>
            </div>
            <button class="btn btn-light btn-block">Save</button>
        </form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Previous</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.next_page_url)">Next</a></li>
            </ul>
        </nav>
        <div class="card card-body mb-2" v-for="article in articles" v-bind:key="article.id">
            <h4>{{article.title}}</h4>
            <p>{{article.body}}</p>
            <button @click="editArticle(article)" class="btn btn-primary btn-block mb-2">Edit</button>
            <button class="btn btn-danger" @click="deleteArticle(article.id)">Delete</button>
        </div>
    </div>

</template>

<script>
    export default {
        data(){
            return {
                'articles' : [],
                'article': {
                    'id': '',
                    'title': '',
                    'body': ''
                },

                'article_id': '',
                'pagination': {},
                'edit': false
            }
        },

        created() {
            this.fetchArticles();
        },

        methods: {
            fetchArticles(pageUrl){
                var page_url = pageUrl ||'api/articles';
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.articles = res.data;
                        this.makePagination(res.meta, res.links);
                    })
                    .catch(err => console.log(err))
            },

            makePagination(meta, links){
                let pagination = {
                    next_page_url : links.next,
                    prev_page_url : links.prev,
                    current_page : meta.current_page,
                    last_page : meta.last_page
                };
                this.pagination = pagination;
            },

            deleteArticle(id){
                if (confirm('Are you sure?')){
                    fetch(`api/article/${id}`, {
                        method: 'delete'
                    })
                        .then(res => res.json())
                        .then(data =>{
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err))
                }
            },

            addArticle(){
                if (this.edit === false){
                    fetch('api/article', {
                        method: 'post',
                        body: JSON.stringify(this.article),
                        headers:{
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.article.title = '';
                            this.article.body = '';
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err))
                } else{
                    fetch('api/article', {
                        method: 'put',
                        body: JSON.stringify(this.article),
                        headers:{
                            'content-type': 'application/json'
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            this.article.title = '';
                            this.article.body = '';
                            this.fetchArticles();
                        })
                        .catch(err => console.log(err))
                }
            },

            editArticle(article){
                this.edit = true;
                this.article.id = article.id;
                this.article.article_id = article.id;
                this.article.title = article.title;
                this.article.body = article.body;
            }
        }
    }
</script>
